<!-- Footer, parte inferiore della pagina -->
<!-- Definiamo un container -->
<!-- Abbiamo bisogno di una riga, quindi abbiamo un solo div con attributo class impostato a row -->
<!-- Abbiamo due colonne in una riga, quindi definiamo due div con classe col-* -->
<footer class="page-footer">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-12">
            <h6 class="text-uppercase font-weight-bold">Informazioni</h6>
            <p>Questo sito web è stato creato come progetto per l'esame di programmazione web e mobile.</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <h6 class="text-uppercase font-weight-bold">Studente</h6>
            <p>Antonio Cannito<br />Matricola numero: 962706</p>
         </div>
      </div>
   </div>
   <div class="footer-copyright text-center">© #TwitterStat 2022. Tutti i diritti riservati.</div>
</footer>