<head>
   <meta charset="UTF-8" />
   <meta name="description"
      content="#TwitterStat è un sito web che consente di ottenere informazioni e statistiche relative a un profilo Twitter, realizzato come progetto per l'esame di Programmazione Web e Mobile" />
   <meta name="keywords" content="pwm, html, js, bootstrap, nodejs, progetto, programmazione, web, mobile, esame" />
   <meta name="author" content="Antonio Cannito, matricola 962706" />
   <!-- Questo tag meta fornisce informazioni utili al browser per adattare la pagina su diversi dispositivi -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>#TwitterStat</title>
   <!-- Inserimento dell'icona -->
   <link rel="icon" href="img/twitter-128.ico" />
   <!-- Inserimento dello stylesheet necessario al funzionamento di Bootstrap -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Inserimento del nostro stylesheet -->
   <link rel="stylesheet" href="css/style.css">
</head>
