<!DOCTYPE html>
<html>
   <%- include('../partials/head'); %>
   <body>
      <%- include('../partials/header'); %>
      <main>
         <!-- Jumbotron, utilizzato per la parte superiore della pagina -->
         <div class="jumbotron text-center">
            <h1>Glossario e sitografia</h1>
         </div>
         <div class="container space-container">
            <h4>Glossario:</h4>
            <ul>
               <li>Account: il profilo di una persona iscritta a Twitter</li>
               <li>Tweet: un semplice testo, foto, video pubblicato da un account e visibile a tutti i suoi
                  follower
               </li>
               <li>Retweet: un Tweet di un altro utente inoltrato ai follower dell'account</li>
               <li>Nome utente: nome univoco, preceduto da un @, associato all'account</li>
               <li>Risposta: una replica a un Tweet fatta da un altro utente</li>
               <li>Posizione geografica: il paese di provenienza di un utente</li>
               <li>Sito web dell'utente: un URL che il proprietario dell'account ha deciso di associare al suo
                  profilo
               </li>
               <li>Verificato: solitamente assegnato a figure pubbliche, garantisce autenticità circa la
                  persona associata all'account
               </li>
               <li>Following: numero persone che l'utente segue</li>
               <li>Followers: numero persone che seguono l'utente</li>
               <li>Rapporto followers/following: indice ottenuto dividendo il numero di followers con il numero
                  di following
               </li>
               <li>Like: utilizzati per mostrare apprezzamento verso un Tweet</li>
               <li>Hashtag: parola chiave che può essere inserita all'interno di un tweet preceduta dal simbolo
                  #
               </li>
               <li>Menzioni: utilizzato per menzionare, quindi coinvolgere, un altro utente in relazione con il
                  Tweet
               </li>
            </ul>
            <h4>Sitografia:</h4>
            <ul>
               <li>HTML5: <a href="https://www.w3.org/TR/2011/WD-html5-20110405/">standard</a></li>
               <li>CSS3: <a href="https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/">standard</a></li>
               <li>Javascript: <a href="https://www.javascript.com/">sito web</a></li>
               <li>Bootstrap: <a href="https://getbootstrap.com/">sito web</a></li>
               <li>NodeJS: <a href="https://nodejs.org/">sito web</a></li>
               <li>ExpressJS: <a href="https://expressjs.com/">sito web</a></li>
               <li>EJS Engine: <a href="https://ejs.co/">sito web</a></li>
               <li>IconsDB: <a href="https://www.iconsdb.com/">sito web</a></li>
               <li>SVGRepo: <a href="https://www.svgrepo.com/">sito web</a></li>
               <li>Chart.js: <a href="https://www.chartjs.org/">sito web</a></li>
               <li>GIT: <a href="https://git-scm.com/">sito web</a></li>
               <li>Github: <a href="https://github.com/">sito web</a></li>
            </ul>
         </div>
      </main>
      <%- include('../partials/footer'); %>
      <%- include('../partials/script'); %>
   </body>
</html>